test --test_output=errors

build --cxxopt='-std=c++20'
build --cxxopt='-Wno-delete-non-abstract-non-virtual-dtor'
build --cxxopt='-Wno-self-assign-overloaded'
build --cxxopt='-Wno-self-move'

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -fno-sanitize-recover=all
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:ubsan --strip=never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -fno-sanitize-recover=all
build:ubsan --copt -O1
build:ubsan --copt -g
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined

build:tsan --strip=never
build:tsan --copt -fsanitize=thread
build:tsan --copt -fno-sanitize-recover=all
build:tsan --copt -O1
build:tsan --copt -g
build:tsan --copt -fno-omit-frame-pointer
build:tsan --linkopt -fsanitize=thread
