---
Checks: google-readability-*,\
        readability-*,\
        bugprone-*,\
        -readability-magic-numbers,\
        -readability-identifier-length,\
        -readability-implicit-bool-conversion,\
        -readability-braces-around-statements,\
        -readability-named-parameter,\
        -readability-function-cognitive-complexity,\
        -readability-convert-member-functions-to-static
...
